__pycache__
pyvenv.cfg
tkinterDB.db
burger.png
burger.XBM
calcualtor
.vscode
student Management App
music_player.py
songs
include
bin
freelance_projects
lib64
hello.py
python.png
python.xbm
.goutputstream-3MRH50
lib
